header
  - if (user)
    a(href: "/logout") Logout
    #{user.name}
  - else
    form(method="post", action="/user/login")
      input(name="turbid", placeholder="Turbulences id")
      input(type="submit", value="Login")
